[project]
name = "genie"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy>=2.3.5",
    "torch>=2.9.1",
]

[dependency-groups]
dev = [
    "ty>=0.0.2",
]
